/** Border */
$size-border-xs: 0.0625rem;
$size-border-sm: 0.125rem;
$size-border-md: 0.25rem;
$size-border-lg: 0.5rem;

$size-radius-xs: 0.25rem;
$size-radius-sm: 0.5rem;
$size-radius-md: 1rem;
$size-radius-lg: 2rem;
$size-radius-xl: 100%;

/** Gap */
$size-gap-xs: 0.25rem;
$size-gap-sm: 0.5rem;
$size-gap-md: 1rem;
$size-gap-lg: 2rem;
$size-gap-xl: 3rem;

/** NavBar */
$size-sidebar: 250px;
$size-sidebar-mini: 4.6rem;
$size-footer: 2.5rem;
$size-header: 3rem;

/** Padding */
$size-padding-xxs: 0.25rem;
$size-padding-xs: 0.5rem;
$size-padding-sm: 1rem;
$size-padding-md: 2rem;
$size-padding-lg: 3rem;
$size-padding-xl: 5rem;

/** Text */
$size-txt-main: 14px;
$size-txt-xs: 0.9rem;
$size-txt-sm: 1rem;
$size-txt-md: 1.2rem;
$size-txt-lg: 1.4rem;
$size-txt-h3: 2rem;
$size-txt-h2: 2.1rem;
$size-txt-h1: 2.2rem;

/** Text - Special */
$size-txt-hint: 0.8rem;
$size-txt-row: 0.875rem;
